.choices {
  position: relative;
  margin-bottom: 25px;
  font-size: 16px;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices[data-type*="select-one"]:after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #DDDDDD;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

[dir="rtl"] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}


.choices__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
}

.choices__list--dropdown.is-active {
  display: block;
}


.choices__list--dropdown .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir="rtl"] .choices__list--dropdown .choices__item {
  text-align: right;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  opacity: .5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .9;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus {
  outline: none;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input:focus {
  outline: 0;
}

[dir="rtl"] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: .9;
}

/*=====  End of Choices  ======*/
input,
button {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.s132 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/Search_132.png");
  background-size: cover;
  background-position: center center;
  padding: 50px;
}

.s132 form {
  width: 100%;
  max-width: 1300px;
}

.s132 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s132 form .inner-form .input-field {
  height: 44px;
}

.s132 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #fff;
}

.s132 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.s132 form .inner-form .input-field.first-wrap {
  width: 200px;
}

/* 제목, 내용 틀*/
.s132 form .inner-form .input-field.first-wrap .choices__inner {
  background: #386641;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  color: #e5e5e5;
  display: flex;
      align-items: center;
  padding: 10px 30px;
}

.s132 form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.s132 form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.s132 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
  right: 30px;
  border-color: #e5e5e5 transparent transparent transparent;
}

.s132 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
  border: 0;
  background: black;
}

.s132 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.s132 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #000;
  color: #e5e5e5;
}

.s132 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
  color: rgb(99, 97, 97);
}

.s132 form .inner-form .input-field.first-wrap .choices__list--dropdown {
  margin-top: 0;
}

.s132 form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s132 form .inner-form .input-field.second-wrap input {
  background: #386641;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  border-right: 0;
}

.s132 form .inner-form .input-field.third-wrap {
  width: 164px;
}

.s132 form .inner-form .input-field.third-wrap .btn-search {
  font-weight: 50;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 18px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: black;
  border: 1px solid gray;
}

.s132 form .inner-form .input-field.third-wrap .btn-search:before {
  background: #a7c957;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: all .2s ease-out, color .2s ease-out;
}

.s132 form .inner-form .input-field.third-wrap .btn-search:hover::before {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .s132 {
    padding-top: 0px;
  }
  .s132 form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
  .s132 form .inner-form .input-field {
    margin-bottom: 8px;
  }
  /* 검색 창 */
  .s132 form .inner-form .input-field input {
    padding: 10px 15px;
  }
  /* choice */
  .s132 form .inner-form .input-field.first-wrap {
    width: 100%;
  }
  .s132 form .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }
  .s132 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 11.5px;
    border-color: #e5e5e5 transparent transparent transparent;
  }
  .s132 form .inner-form .input-field.second-wrap {
    width: 100%;
  }
  /* Enter Keywords*/
  .s132 form .inner-form .input-field.second-wrap input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* Search */
  .s132 form .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 3674f3baaba4fae833d5e4b73e5312d898a94d7e
